# Name of the Market to deploy. If you want to deploy a custom market, it must be included at `loadPoolConfig` function at ./helpers/market-config-helpers.ts:65
MARKET_NAME=Aave

# Alchemy RPC api key
ALCHEMY_KEY=***

# Infura RPC api key
# INFURA_KEY=***

# Seed phrase
# MNEMONIC=***

# Etherscan API key to verify contracts
# ETHERCAN_API_KEY=***
